:root {
	--purple-color: #6a0c7d;
	--icon-color: #4d4d4d;
}

.about-text {
	color: #fff;
	position: fixed;
	top: 10%;
	left: 7%;
	font-size: 35px;
	width: 40%;
}
li {
	list-style: none;
}
.card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	position: fixed;
	letter-spacing: 1px;
	gap: 15px;
	width: 95%;
	height: 75%;
	top: 55%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.card {
	height: 100%;
	width: 20%;
	border-radius: 15px;
	transition: all .5s ease;
	transition-delay: .1s;
	cursor: pointer;
	background-size: cover;
	filter: grayscale(80%);
	overflow: hidden;
}
.card:hover {
	filter: grayscale(15%);
}
.about-card {
	background-image: url(https://i.ibb.co/hg6YN1h/dolan-photo-3.jpg);
	background-position: center;
}
.bjj-card {
	background-image: url(https://i.ibb.co/bPS0rkN/dolan-photo-4.jpg);
	background-position: 68%;
}
.career-card {
	background-image: url(https://i.ibb.co/tM3V3wy/dolan-photo-1.jpg);
	background-position: 60%;
}
.languages-card {
	background-image: url(https://i.ibb.co/wW4ZhcN/dolan-photo-2.jpg);
	background-position-x: 38%;
	background-position-y: 35%;
}
.card-heading {
	position: fixed;
	color: #fff;
	font-weight: bolder;
	font-size: 20px;
	writing-mode: vertical-lr;
	top: 2%;
	right: 10%;
	text-wrap: nowrap;
	text-shadow: 0 0 15px var(--purple-color), 0 0 10px var(--purple-color), 0 0 5px var(--purple-color);
	z-index: 5;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.active-card {
	filter: grayscale(15%);
	width: 100%;
}
.active-card .card-heading {
	display: none;
}
.card-content {
	color: white;
	font-weight: bold;
	letter-spacing: .3px;
	text-shadow: 0 0 15px black, 0 0 10px black, 0 0 5px black;
	z-index: 10;
}
.card-content p {
	position: fixed;
	left: 3%;
	padding-right: 10px;
}
.about-card-content {
	font-size: 40px;
}
.about-card-content p:nth-of-type(1) {
	opacity: 0;
	-webkit-animation: fadeIn 1s forwards;
	-moz-animation: fadeIn 1s forwards;
	-o-animation: fadeIn 1s forwards;
	animation: fadeIn 1s forwards;
}
.about-card-content p:nth-of-type(2) {
	opacity: 0;
	-webkit-animation: fadeIn 1s .8s forwards;
	-moz-animation: fadeIn 1s .8s forwards;
	-o-animation: fadeIn 1s .8s forwards;
	animation: fadeIn 1s .8s forwards;
	top: 12%;
}
.about-card-content p:nth-of-type(3) {
	opacity: 0;
	-webkit-animation: fadeIn 1s 1.8s forwards;
	-moz-animation: fadeIn 1s 1.8s forwards;
	-o-animation: fadeIn 1s 1.8s forwards;
	animation: fadeIn 1s 1.8s forwards;
	top: 63%;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		-ms-transform: translateY(300%);
		-webkit-transform: translateY(300%);
		-moz-transform: translateY(300%);
		-o-transform: translateY(300%);
		transform: translateY(300%);
	}
	100% {
		opacity: 1;
		-ms-transform: translateY(0%);
		-webkit-transform: translateY(0%);
		-moz-transform: translateY(0%);
		-o-transform: translateY(0%);
		transform: translateY(0%);
	}
}
.bjj-card-content {
	font-size: 30px;
}
.bjj-card-content p:nth-of-type(1) {
	opacity: 0;
	-webkit-animation: fadeIn 1s forwards;
	-moz-animation: fadeIn 1s forwards;
	-o-animation: fadeIn 1s forwards;
	animation: fadeIn 1s forwards;
}
.bjj-card-content p:nth-of-type(2) {
	opacity: 0;
	-webkit-animation: fadeIn 1s .8s forwards;
	-moz-animation: fadeIn 1s .8s forwards;
	-o-animation: fadeIn 1s .8s forwards;
	animation: fadeIn 1s .8s forwards;
	top: 13%;
}
.bjj-card-content p:nth-of-type(3) {
	opacity: 0;
	-webkit-animation: fadeIn 1s 1.6s forwards;
	-moz-animation: fadeIn 1s 1.6s forwards;
	-o-animation: fadeIn 1s 1.6s forwards;
	animation: fadeIn 1s 1.6s forwards;
	top: 77%;
}
.career-card-content {
	font-size: 24px;
}
.career-card-content p:nth-of-type(1) {
	opacity: 0;
	-webkit-animation: fadeIn 1s forwards;
	-moz-animation: fadeIn 1s forwards;
	-o-animation: fadeIn 1s forwards;
	animation: fadeIn 1s forwards;
}
.career-card-content p:nth-of-type(2) {
	opacity: 0;
	-webkit-animation: fadeIn 1s .8s forwards;
	-moz-animation: fadeIn 1s .8s forwards;
	-o-animation: fadeIn 1s .8s forwards;
	animation: fadeIn 1s .8s forwards;
	top: 15%;
}
.career-card-content p:nth-of-type(3) {
	opacity: 0;
	-webkit-animation: fadeIn 1s 1.6s forwards;
	-moz-animation: fadeIn 1s 1.6s forwards;
	-o-animation: fadeIn 1s 1.6s forwards;
	animation: fadeIn 1s 1.6s forwards;
	top: 66%;
}
.career-card-content p:nth-of-type(4) {
	opacity: 0;
	-webkit-animation: fadeIn 1s 2.4s forwards;
	-moz-animation: fadeIn 1s 2.4s forwards;
	-o-animation: fadeIn 1s 2.4s forwards;
	animation: fadeIn 1s 2.4s forwards;
	top: 79%;
}
.languages-card-content {
	font-size: 30px;
}
.languages-container {
	display: flex;
	gap: 15px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
}
.first-lc {
	position: fixed;
	top: 13%;
	left: 12%;
	-webkit-animation: fadeIn 1s .8s forwards;
	-moz-animation: fadeIn 1s .8s forwards;
	-o-animation: fadeIn 1s .8s forwards;
	animation: fadeIn 1s .8s forwards;
}
.languages-card-content p:nth-of-type(1) {
	opacity: 0;
	-webkit-animation: fadeIn 1s forwards;
	-moz-animation: fadeIn 1s forwards;
	-o-animation: fadeIn 1s forwards;
	animation: fadeIn 1s forwards;
}
.languages-card-content p:nth-of-type(2) {
	opacity: 0;
	-webkit-animation: fadeIn 1s 1.6s forwards;
	-moz-animation: fadeIn 1s 1.6s forwards;
	-o-animation: fadeIn 1s 1.6s forwards;
	animation: fadeIn 1s 1.6s forwards;
	top: 84%;
	text-align: right;
	left: 50%;
}
.second-lc {
	position: fixed;
	bottom: 12%;
	left: 77%;
	-webkit-animation: fadeIn 1s 2.4s forwards;
	-moz-animation: fadeIn 1s 2.4s forwards;
	-o-animation: fadeIn 1s 2.4s forwards;
	animation: fadeIn 1s 2.4s forwards;
}
.languages-container svg:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
	color: var(--purple-color);
}
.languages-container svg {
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	font-size: 300%;
}
.languages-container .tooltip-arrow {
	background-color: var(--purple-color);
}
.languages-container .tooltip {
	background-color: var(--icon-color);
}
@media (max-width: 1370px) {
	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	.card-content p{
		position: relative;
		left: 2%;
	}
	.languages-card-content p:nth-of-type(2) {
		position: fixed;
		left: 60%;
	}
	.card-heading {
		display: none;
	}
	.about-card-content {
		font-size: 28px;
	}
	.bjj-card-content {
		font-size: 23px;
	}
}
@media (max-width: 1170px) {
	.career-card-content {
		font-size: 18px;
	}
}
@media (max-width: 940px) {
	.bjj-card-content {
		font-size: 22px;
	}
	.second-lc {
		bottom: 16%;
		right: 5%;
	}
}
@media (max-width: 800px) {
	.card-container {
		flex-direction: column;
		height: 87%;
		top: 53.5%;
	}
	.card {
		width: 100%;
		height: 20%;
		border-radius: 10px;
	}
	.card-heading {
		writing-mode: horizontal-tb;
	}
	.active-card {
		height: 150%;
	}
	.languages-card-content {
		font-size: 19px;
	}
}
@media (max-width: 600px) {
	.about-card-content {
		font-size: 24px;
	}
	.about-card-content p:nth-of-type(2) {
		opacity: 0;
		top: 15%;
	}
	.bjj-card-content {
		font-size: 15px;
	}	
}
@media (max-width: 580px) {
	.career-card-content {
		font-size: 15px;
	}
	.languages-card-content {
		font-size: 18px;
	}
}
@media (max-width: 460px) {
	.career-card-content {
		font-size: 12px;
		text-shadow: 0 0 20px black, 0 0 15px black, 0 0 10px black, 0 0 5px black, 0 0 1px black;
	}
	.languages-card-content {
		font-size: 18px;
	}
	.second-lc {
		bottom: 15%;
	}
}
@media (max-width: 405px) {
	.bjj-card-content {
		font-size: 15px;
	}
	.about-card-content {
		font-size: 17px;
	}
	.languages-card-content {
		font-size: 15px;
	}
	.career-card-content {
		font-size: 10px;
	}
}
@media (max-height: 800px) {
	.bjj-card-content {
		font-size: 16px;
	}
	.bjj-card-content p:nth-of-type(3) {
		top: 73%;
	}
	.career-card-content {
		font-size: 15px;
	}
	.languages-card-content {
		font-size: 18px;
	}
}
@media (max-height: 650px) {
	.career-card-content {
		font-size: 14px;
	}
	.card-container {
		gap: 1.5%;
		height: 86%;
	}
	.card-heading {
		font-size: 15px;
	}
	.languages-card-content {
		font-size: 16px;
	}
	.languages-container {
		gap: 10px;
	}
	.about-card-content {
		font-size: 23px;
	}
}
@media (max-height: 550px) {
	.career-card-content {
		font-size: 9px;
	}
	.about-card-content {
		font-size: 16px;
	}
	.languages-card-content {
		font-size: 12px;
	}
	.bjj-card-content {
		font-size: 13px;
	}
}
@media (max-height: 500px) {
	.languages-card-content {
		font-size: 10px;
	}	
}