:root {
	--purple-color: #6a0c7d;
}

.about-text {
	color: #fff;
	position: absolute;
	top: 15%;
	left: 7%;
	font-size: 35px;
	width: 40%;
}

.about-text p {
	font-size: 25px;
	line-height: 1.3;
}
.purple {
	color: var(--purple-color);
}

.about-text a {
	text-decoration: none;
	color: var(--purple-color);
}

.skill-display {
	text-align: center;
	position: absolute;
	width: 40%;
	right: 5%;
	top: 20%;
	color: #fff;
}
.skill-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0 30px;
	flex-wrap: wrap;
}
