:root {
	--purple-color: #6a0c7d;
}
.name-wrapper {
	color: var(--purple-color);
}
.text-zone {
	position: absolute;
	top: 20%;
	left: 15%;
	cursor: default;
	color: #fff;
	font-size: 60px;
	z-index: 5;
}
.text-zone h1 {
	margin-block: 0;
}
.Typewriter__wrapper,
.Typewriter__cursor {
	color: #6e6e6e;
}
.name {
	color: var(--purple-color);
	margin-block: 0;
}
.home-button {
	position: absolute;
	text-decoration: none;
	color: var(--purple-color);
	top: 120%;
	left: 8%;
	padding-block: 10px;
	padding-inline: 20px;
	transition: color 1.5s;
}

.home-button:hover {
	color: #fff;
}

.home-button::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 0%;
	transition: width 0.4s 0.4s, height 0.4s;
	background-color: var(--purple-color);
	z-index: -5;
}

.home-button:hover:after {
	width: 100%;
	height: 100%;
	transition: width 0.4s, height 0.4s 0.4s;
}

.home-image-container {
	position: absolute;
	right: 6%;
	height: 100vh;
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
	box-sizing: border-box;
	object-fit: cover;
}
.home-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
