:root {
	--purple-color: #6a0c7d;
}

.name-wrapper {
	color: var(--purple-color);
}
.text-zone {
	position: absolute;
	top: 20%;
	left: 10%;
	cursor: default;
	color: #fff;
	font-size: 45px;
}
.text-zone h1 {
	margin-block: 0;
}
.Typewriter__wrapper,
.Typewriter__cursor {
	color: #7c7c7c;
}
.letter-animate {
	animation: bounce 3.5s ease-in-out infinite;
	display: inline-block;
}

.letter-animate:hover {
	color: #fff;
}

#D {
	animation-delay: 0.2s;
}

#o {
	animation-delay: 0.4s;
}

#l {
	animation-delay: 0.6s;
}

#a {
	animation-delay: 0.8s;
}

#n {
	animation-delay: 1s;
}
@keyframes bounce {
	0% {
		transform: scale(1, 1) translateY(0);
	}
	2.5% {
		transform: scale(1.1, 0.9) translateY(0);
	}
	7.5% {
		transform: scale(0.9, 1.1) translateY(-17px);
	}
	12.5% {
		transform: scale(1.05, 0.95) translateY(0);
	}
	13.75% {
		transform: scale(1, 1) translateY(-3px);
	}
	16.25% {
		transform: scale(1, 1) translateY(0);
	}
	25% {
		transform: scale(1, 1) translateY(0);
	}
}
.scroller {
	position: absolute;
	right: 0%;
	width: 40%;
	height: 100vh;
	overflow: hidden;
	z-index: -5;
}

.scroller-photo {
	aspect-ratio: auto;
	width: 100%;
	margin-top: -5px;
}

.scroller-inner {
	overflow: hidden;
	animation: scroll 30s linear infinite;
}

@keyframes scroll {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-50%);
	}
}

.home-button {
	position: absolute;
	text-decoration: none;
	color: var(--purple-color);
	top: 130%;
	left: 8%;
	padding-block: 10px;
	padding-inline: 20px;
	transition: color 1.5s;
}

.home-button:hover {
	color: #fff;
}

.home-button::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 0%;
	transition: width 0.4s 0.4s, height 0.4s;
	background-color: var(--purple-color);
	z-index: -5;
}

.home-button:hover:after {
	width: 100%;
	height: 100%;
	transition: width 0.4s, height 0.4s 0.4s;
}
