:root {
	--purple-color: #6a0c7d;
	--icon-color: #4d4d4d;
}
.nav-bar {
	background: inherit;
	width: 500px;
	height: 75px;
	position: fixed;
	top: 2%;
	left: calc(50% - 250px);
	z-index: 10000;
	min-width: 500px;
	border-radius: 80px;
	cursor: unset;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
}

nav a {
	transition: all 0.4s ease-in-out;
	color: var(--icon-color);
	opacity: 0.8;
}

nav a:hover {
	transform: scale(1.1);
	color: var(--purple-color);
	opacity: 1;
}

nav a.active {
	color: var(--purple-color);
	transform: scale(1.2);
	opacity: 1;
}
.logo {
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
}