body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	background: linear-gradient(135deg, #1a0038 0%, #013734 100%);
	width: 100vw;
	height: 100vh;
}